<section id="challenges">

  <h2>CODING CHALLENGES</h2>
  <h4>HERE ARE SOME GRAPHIC USER INTERFACES FOR BASIC CODING CHALLENGES</h4>

  <article class="challenges-inner" data-aos="fade-down" data-aos-duration="1500">
    <div class="fizzbuzz">
      <a href="/challenges/fizzbuzz"><h4>FIZZBUZZ</h4></a>
    </div>

    <div class="palindrome">
      <a href="/challenges/palindrome"><h4>PALINDROME</h4></a>
    </div>

    <div class="anagram">
      <a href="/challenges/anagram"><h4>ANAGRAM</h4></a>
    </div>

    <div class="title-case">
      <a href="/challenges/title-case"><h4>TITLE CASE</h4></a>
    </div>

    <div class="repeat-string">
      <a href="/challenges/repeat-string"><h4>REPEAT STRING</h4></a>
    </div>

    <div class="longest-word">
      <a href="/challenges/longest-word"><h4>LONGEST WORD</h4></a>
    </div>
  </article>
</section>