<section class="hero" id="home">
  <div class="hero-wrapper">
    <video autoplay muted loop>
      <source src="/assets/video/background-video.mp4" type="video/mp4" />
    </video>

    <div data-aos="fade-right" data-aos-duration="3000" class="hero-content">
      <h2 class='hero-welcome-text'>Welcome, I'm Utibeabasi Archibong</h2>
      <div class="hero-text-wrapper">
        <h3 class="static-text">I'm a </h3>
        <ul class="dynamic-text">
          <li><span>FullStack Web Developer</span></li>
          <li><span>UI/UX Website Designer</span></li>
          <li><span>Freelance Web Developer</span></li>
          <li><span>WordPress Web Developer</span></li>
        </ul>
      </div>
      <div class="hero-btn">
        <a href="#about"><button>See My Work <i class="fas fa-angle-double-down"></i></button></a>
      </div>
    </div>
  </div>
</section>